@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --basic-01: #fff;
  --basic-02: #f3f4f6;
  --font-01: black;
  --font-02: #aaa;
  --border-01: rgb(232, 232, 232);
}

:root.dark {
  --basic-01: black;
  --basic-02: rgb(68, 68, 68);
  --font-01: #fff;
  --font-02: #aaa;
  --border-01: rgb(50, 50, 50);
}

body {
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}

@layer components {
  .flex-center {
    display: flex;
    align-items: center;
  }
}
