@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --basic-01: #fff;
}

:root.dark {
  --basic-01: #202b38;
}

body {
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.25em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
}

/* 

@media (prefers-color-scheme: dark) {
  :root {
    color: #020202;
    background-color: #ffffff;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
} */
